*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
body{
    color: #fff;
    background-image: linear-gradient(to bottom right, #FDABDD, #374A5A);
}
.page{
    width: 90%;
    max-width: 700px;
    margin: 12%;

}
.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;
}
.page h1{
    font-weight: 500;
    font-size: 45px;

}
.page h1 span{
    color:maroon;
    border-bottom: 4px solid currentColor;
    padding-bottom: 7px; 


}
.display img{
    width: 30px;
    cursor: pointer;
}
.display input{
    border: 0;
    outline: 0;
    font-size: 24px;

}
.page button img{
    width: 28px;
    margin-right: 10px;

}
.page button{
    border: 0;
    outline: 0;
    background-color: maroon;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 5px;
    cursor: pointer;
}